@model DBClassLibrary.Models.Dog
@{
    ViewData["Title"] = "Details";
}


<h2>@Model.DogKind</h2>

<div>
    <hr />
    <dl class="dl-horizontal" id="def-p">
        <dt>

        </dt>

        <dd>
            <img src="@Model.DogPicture" width="200" />
        </dd>

        <dt>
            名稱
        </dt>

        <dd>
            @Model.DogKind
        </dd>

        <dt>
            描述
        </dt>

        <dd>
            @Model.DogPersonality
        </dd>

        <dt>
            特徵
        </dt>

        <dd>
            @Model.DogFeature
        </dd>

        <dt>
            犬用途
        </dt>

        <dd>
            @Model.DogFeature1
        </dd>

        <dt>
            照顧重點
        </dt>

        <dd>
            @Model.DogFeed
        </dd>
    </dl>


</div>
<p>
    @Html.ActionLink("回首頁", "HomePage", null, new { @class = "btn btn-default" })
</p>

